<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whatsapp.wrapper" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WhatsApp Wrapper</name>
    <description>A distraction-free wrapper for WhatsApp Web</description>
    <author email="your@email.com" href="https://your-website.com">Your Name</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <access origin="https://web.whatsapp.com" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    
    <plugin name="cordova-plugin-whitelist" version="1" />
</widget>